* {
    box-sizing: border-box;
}

body {
    background-color: #f7c6eb4c;
    margin: 0px;
    font-family: 'Noto Serif TC', serif;
}

header {
    background-color: #deacd7;
    color: #4f435f;
    text-align: center;
    padding: 20px;
    margin: 0px;
}

#title{
    font-size: 50px;
}

nav {
    background-color: #4f435f;
    text-align: center;
}

nav a {
    padding: 14px 16px;
    display: inline-block;
    text-decoration: none;
    color: white;
}

nav a:hover {
    background-color: #7f667e;
}

footer {
    background-color: #4f435f;
    color:#f8f7ca;
    text-align: center;
    padding: 10px;
}

footer div{
    color: #4f435f; 
}

main {
    padding: 20px;
}

article {
    float: left;
    width: 50%;
}

aside {
    float: right;
    width: 50%;
    text-align: center;
}

.clearfix {
    clear: both;
}

#pic1{
    border-radius: 50%;
    margin-right: 20px;
    float: left;
}

#name{
    font-size: 50px;
}
.p1{
    font-size: 20px;
}

pre{
    font-size: 110%;
    font-family: 'Noto Serif TC', serif;
}

.pic{
    margin-right: 40px;
}


#allbar {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

#allbar div{
    flex: 1;
    text-align: center;
    padding: 10px;
    margin: 5px;
}

.container{
    width: 300px;
    height: 1px;
    border-radius: 25px;
    background: #c7c4c4;
    position: relative;
    left: 28%;
    top: 15px;
}

#c1 {
    width: 90%;
    height: inherit;
    border-radius: 25px 0 0 25px;
    background: #99ad6c;
    position: absolute;
    top:-5px;
    left: -5px;
}

#c2 {
    width: 70%;
    height: inherit;
    border-radius: 25px 0 0 25px;
    background: #99ad6c;
    position: absolute;
    top:-5px;
    left: -5px;
}

#c3 {
    width: 30%;
    height: inherit;
    border-radius: 25px 0 0 25px;
    background: #99ad6c;
    position: absolute;
    top:-5px;
    left: -5px;
}

#c4 {
    width: 70%;
    height: inherit;
    border-radius: 25px 0 0 25px;
    background: #99ad6c;
    position: absolute;
    top:-5px;
    left: -5px;
}

#c5 {
    width: 70%;
    height: inherit;
    border-radius: 25px 0 0 25px;
    background: #99ad6c;
    position: absolute;
    top:-5px;
    left: -5px;
}

#experience h2{
    text-align: center;
    font-size: 50px;
}

#experience div{
    display: flex;
    flex-direction: column;
}

.exp1, .exp3{
    flex: auto;
    text-align: left;
    padding: 10px;
    margin: 5px;
    font-size: 30px;
}

.exp2{
    flex: auto;
    text-align: right;
    padding: 10px;
    margin: 5px;
    font-size: 30px;
}

@media screen and (max-width:800px) {

    article,aside {
        float: none;
        width: 70%;
        text-align: center;
        align-self: center;
    }
}